/* General styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #3D405B;
    /* Secondary Text Color */
}

body {
    background-color: #F4F1DE;
    /* Background Color */
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #81B29A;
    /* Accent Color */
    padding: 20px;
    text-align: center;
    color: #F4F1DE;
    /* Background Color for better contrast */
}

.nav {
    text-align: center;

}

.search-button {
    width: 100%;
    text-align: center;
    padding: auto;
}



/* Grid for recipe cards */
.recipe-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-grid h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
}

/* Recipe card styles */
.recipe-card {
    flex: 1;
    min-width: calc(25% - 20px);
    background-color: #fff;
    border: 2px solid #81B29A;
    /* Accent Color */
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    text-align: center;
}

.recipe-card img {
    width: 100%;
    height: 60%;
    border-radius: 2px;
}


*/ .recipe-card a {
    color: #81B29A;
    text-align: center;
}

/* Footer styles */
footer {
    background-color: #3D405B;
    /* Secondary Text Color */
    color: #F4F1DE;
    /* Background Color for better contrast */
    padding: 20px;
    text-align: center;
}

button,
.button {
    background-color: #F2CC8F;
    /* Button Color */
    color: #3D405B;
    /* Secondary Text Color */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

button:hover,
.button:hover {
    background-color: #E07A5F;
    /* Primary Text Color */
    color: #F4F1DE;
    /* Background Color for better contrast */
}